.sideMenu{
    width: 300px;
    background: #0e1a35;
    min-height: 100vh;
    float: left;
}
.logo{
    height: 120px;
}
.menu{
    padding: 0;
}
.menu>li{
    border-bottom: 1px solid #0d172e;
}
.menu a{
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    padding-left: 90px;
    text-decoration: none;
    display: block;
}
.menu a:hover{
    background: #122143;
    border-left: 2px solid #5584ff;
}
.team-menu ul{
    display: none;
    list-style: none;
    padding: 0;
}
.team-menu ul li{
    border-bottom: 1px solid #0d172e;
}
.drop ul{
    display: block;
}
.team-menu>ul a{
    font-size: 15px;

}